.main{
    overflow-x: hidden;
}
.main_page{
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    
}
.main_left{
    flex: 1;
    width: 50vw;
    align-items: center;
    text-align: left;
    justify-content: center;
    margin-left: 30px;
}
.main_right{
    flex: 1;
    width: 50vw;
}


.btn{
    background-color: aqua;
}

.s_parent{
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}

.s_left{
    flex: 1;
    
    align-items: center;
    background-color: aqua;
    padding: 60px;
    margin: 30px;

}

.s_right{
    flex: 1;
    
    align-items: center;
    background-color: aquamarine;
    padding: 60px;
    margin: 30px;
}



